{% extends "base.html" %}

{% block content %}

{% load static %}

<style>
tr {   
    background-color: inherit;
}
tr:nth-child(odd) {   
    background-color: inherit;
}
tr:nth-child(even) {   
    background-color: inherit;
}

{% if is_mobile %}

.submit {
    float: right;
    height: 40px;
    font-size: 30px;
    padding-top: 2px;
    margin-right:13%;
    margin-top: 30px;
}

{% else %}
.submit {
    float: right;
    height: 20px;
    width: 60px;
    font-size: 15px;
    padding-top: 2px;
    margin-right:4%;
}
{% endif %}


}
</style>

<div class="top-container">

    <h1> Login </h1>

    {% if form.errors %}
    <p style = 'color: red'>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
</div>

<div class = 'flex-wrap-container'>
    <div class="home-main-container">
        <h2><a href = "{% url 'signup' %}"> Sign Up</a></h2><br/>

        <div class="home-container">
            <img src="{% static 'conrad/sign_up.png' %}" alt=Local Genetic Art Population height="300" width="300"/></label>
            
            <div class = "home-p">
                <h3><a href = "{% url 'signup' %}">Don't have an account? </a></h3>
                <p>Sign Up <a href = '/accounts/signup/'>here</a> to create an account so you can save and resume your populations, and show off your creations in the <a href = "{% url 'conrad:gallery' 'best' 'alltime' 'all' 0 %}">Gallery</a></p>
            </div>

        </div>
    </div>


    <div class="home-main-container">
        <h2>Login</h2><br/>

        <div class="home-container">
            <img src="{% static 'conrad/login.PNG' %}" alt="Login to Genetic Algorithms" height="300" width="300"/></label>

            <div class = "home-p">

                <h3>Already have an account?</h3>

                <p> Sign in below to see your populations, top images, and more </p>

                {% if form.errors %}
                <p style = 'color: red'>Your username and password didn't match. Please try again.</p>
                {% endif %}
                       
                <form method="post" action="#">
                {% csrf_token %}
                <table style = 'margin:auto'>
                <tr>
                    <td><label for="id_username">Username:</label></td>
                    <td><input type="text" name="username" autofocus maxlength="254" required id="id_username"class = 'sandboxinput'/></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password:</label></td>
                    <td><input type="password" name="password" required id="id_password" class = 'sandboxinput'/></td>
                </tr>
                </table>
                <div display:flex>
                <input type="submit" value="login" class = 'submit'/>
                <input type="hidden" name="next" value="{{ next }}" />
                </form>
                </div>
                <div>
                    <br>
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
            </div>

        </div>
    </div>
</div>

    {% if next %}

    <div class="home-main-container">
        <h2><a href= "{{ next }}0">Continue as a Guest</a></h2><br/>
        <div class="home-container">
            <img src="{% static 'conrad/guest.PNG' %}" alt="Login to Genetic Algorithms" height="300" width="300"/></label>

            <div class = "home-p">
                       
                <h3><a href= "{{ next }}0">Don't want to Sign Up?</a></h3>
                <p>You won't be able to save or resume your population if you <a href= "{{ next }}0">continue as a Guest.</a></p>

            </div>
        <div>
    </div>

{% endif %}

{% endblock %}