
{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1> About </h1>

<div style="width:100%; display:flex;">
<div class="home-container" style="width:800px;">
	<img src="{% static 'conrad/about.png' %}" alt="Conrad Genetic Art Algorithm" height="300" width="300"/></label>

	<div class = "home-p" style="max-width:500px;padding-top: 0px; margin-top:-10px;">
		<p>genetic-algorithms.com is a free and open-source web tool for creating and learning about genetic algorithms.</p>

<p>Genetic Algorithms (GAs) are a form of Machine Leanrning inspired by arguably the most creative force in the universe - evolution by natural selection.</p>

<p>Instead of programming outcomes directly, or programming most of a solution and using machine learning to optimize a handful of parameters, genetic algorithms allows a really high degree of control over your programme.</p>

<p>You just have to find a way of encoding your program as a 'genome' - often using 1s and 0 (I use As, Ts, Cs, and Gs) and create a population of 'agents' who attempt to perform some task using different encodings of your programme.</p>

	</div>
</div>
</div>

<div style="width:100%;">

<p>Next you need to define a 'fitness function' to score the performance of your agents. The agents reproduce (and recombine their genomes with other agents) at a rate proportionate to their success at the task. Thus - in a slightly roundabout way - the population gets better and better at performing the task.</p>

<p>The idea behind this site is not only to provide resources on GAs, but also to <del> harvest training data</del> make interacting with GAs fun, by allowing users to collaboratively perform the role of a fitness function, deciding the quality of GA output and provide fitness ratings themselves.</p>

<p>At the moment the site only has one GA - <a href = '/conrad/'>Conrad</a> - which produces images based on a string of 'ATCG's. </p>

</div>

{% endblock %}