
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="top-container">

<h1> Contact </h1>

<div class="home-container">
	<img src="{% static 'conrad/me.jpg' %}" alt="Cameron Jones" height="170" width="199"/></label>
	

	<div class = "home-p", style = "padding-top:0px; max-width: 500px; margin-top: -20px;">

	<p> The website, and Conrad, are developed by Cameron Jones (left).

	You can find Cameron via:</p>
	<ul>
		<li> <a href = "mailto:crjones94@googlemail.com">Email</a></li>
		<li> <a href = "https://twitter.com/camrobjones">Twitter</a></li>
		<li> <a href = "https://github.com/camrobjones">GitHub</a></li>
		<li> and <a href = "https://www.linkedin.com/in/cameron-jones-b294a798/">LinkedIn</a></li>
	</ul>
	<p>Please don't hesitate to get in touch if you have questions or problems with the site, or more generally want to chat about this project or anything else related!</p>
</div>
</div>


{% endblock %}

