
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="top-container">

<h1> Data </h1>

<div class = "content-container">
<p>
Here you can download the full population of anonymised data.</p>
</div>
</div>

{% if request.user.username %}

	{% if request.session.guest%}
	<p> Please <a href = "/accounts/login">Create an Account</a> to download the data</p>

	{% else %}
	</br>
	<p><a href = "{% url 'conrad:data_download' %}" class = 'submit'>Download the Data</a></p>
	{% endif %}

{% else %}
<p> Please <a href = "/accounts/login">Create an Account</a> to download the data</p>
{% endif %}

{% endblock %}

