
{% extends 'base.html' %}

{% block content %}

{% if pop_data %}
<h2> The Global Population </h2>

<p> There is only one global population, made up of 200 Artists which anybody can vote on.

	Unlike local populations, the global populations do not run through generations one at a time, destroying and creating new Artists at distinct intervals. Artists are created and destroyed in real time as you vote on them.</p>


{% if request.session.guest %}
<p> You're playing as a guest. <a href = '/accounts/signup/'> Sign Up </a> or <a href = '/accounts/login/'> Login</a> to save your creations.</p>
{% endif %}


<div class="home-main-container">
		<h2><a href="{% url 'conrad:global_game' 0 %}">Global Population</a></h2>

<div class="home-container">
<img src="{{ pop_data.0 }}" alt="Global Genetic Art Population - Top Image" height="300" width="300"/></label>

	<div class = "home-p">
		<p> 
		The global population has been evolving since the start of the site and everyone has access to it.</p>
		<p> Current stats:</p>
		<ul>
			<li>Max Generation: {{ pop_data.1 }}</li>
			<li>Average Fitness: {{ pop_data.2 }}</li>
			<li>Genetic Diversity: {{ pop_data.3 }}%</li>
			<li>Global Users: {{ pop_data.4 }}</li>
		</ul>

	<div class = "flex-container" style = "margin-top:24px;">
	<a class = "btn" style = "position:relative; left:10%; font-size:24px; font-size:24; color:#fff" href = "{%url 'conrad:global_game' 0 %}">Start Evolving</a>
	</div>
	</div>
</div>
</div>


		
		
		

{% endif %}

{% endblock %}