
{% extends 'base.html' %}

{% block content %}


<style>
{% if is_mobile %}

.submit {
    font-size: 30px;
    height: 35px;
    margin-top: 12px;
}

{% else %}

.submit {
    font-size: 15px;
    height: 18px;
    margin-top: 5px;
    padding: 3px;
}

.rate {
	margin-left: -25px;
}

{% endif %}
</style>


<h2> Global Genetic Art Population </h2>
<h3> User: {{ username }} &nbsp Population: {{ population }}  &nbsp Maximum Generation: {{ maxgen }}</h3>

{% if request.session.guest %}
<p> You're playing as a guest. <a href = '/accounts/signup/'> Sign Up </a> or <a href = '/accounts/login/'> Login</a> to save your creations.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if top_images %}

{% load static %}

<div class="form-container">
<form action = "" method = "post">
{% csrf_token %}
{% for artist in top_images %}
	<div id="display">
		<input type = "hidden" name = "artist[]" value = "{{ artist.id }}" />
		{% if is_mobile %}
		<img src="{{ artist.image.url }}" alt="Image 01" height="600" width="600"/></label><br/>
		{% else %}
		<img src="{{ artist.image.url }}" alt="Image 01" height="200" width="200"/></label><br/>
		{% endif %}
		<p>Artist: {{ artist }}</p>
		<div style = 'display: flex'>
		<fieldset class="rate">
		    <input type="radio" id="rating10{{ artist.id }}" name="score[{{forloop.counter}}]" value="10" />
		    <label for="rating10{{ artist.id }}" title="5 stars"></label>
		    <input type="radio" id="rating9{{ artist.id }}" name="score[{{forloop.counter}}]" value="9" />
		    <label class="half" for="rating9{{ artist.id }}" title="4 1/2 stars"></label>
		    <input type="radio" id="rating8{{ artist.id }}" name="score[{{forloop.counter}}]" value="8" />
		    <label for="rating8{{ artist.id }}" title="4 stars"></label>
		    <input type="radio" id="rating7{{ artist.id }}" name="score[{{forloop.counter}}]" value="7" />
		    <label class="half" for="rating7{{ artist.id }}" title="3 1/2 stars"></label>
		    <input type="radio" id="rating6{{ artist.id }}" name="score[{{forloop.counter}}]" value="6" />
		    <label for="rating6{{ artist.id }}" title="3 stars"></label>
		    <input type="radio" id="rating5{{ artist.id }}" name="score[{{forloop.counter}}]" value="5" />
		    <label class="half" for="rating5{{ artist.id }}" title="2 1/2 stars"></label>
		    <input type="radio" id="rating4{{ artist.id }}" name="score[{{forloop.counter}}]" value="4" />
		    <label for="rating4{{ artist.id }}" title="2 stars"></label>
		    <input type="radio" id="rating3{{ artist.id }}" name="score[{{forloop.counter}}]" value="3" />
		    <label class="half" for="rating3{{ artist.id }}" title="1 1/2 stars"></label>
		    <input type="radio" id="rating2{{ artist.id }}" name="score[{{forloop.counter}}]" value="2" />
		    <label for="rating2{{ artist.id }}" title="1 star"></label>
		    <input type="radio" id="rating1{{ artist.id }}" name="score[{{forloop.counter}}]" value="1" />
		    <label class="half" for="rating1{{ artist.id }}" title="1/2 star"></label>
		    <input type="radio" id="rating0{{ artist.id }}" name="score[{{forloop.counter}}]" value="0" />
		    <label class = 'no-star' for="rating0" title="No star"></label>
		</fieldset>
		<a class = "submit" href = '/conrad/inspect/{{ artist.id }}'>Inspect</a>
	</div>
	</div>
{% endfor %}
<br/>
</div>
<div id="vote">
&nbsp;
<br/>

<input class = "submit" 
{% if is_mobile %}

    style = 'font-size: 50px;
    		height:60px;
    		margin-bottom:40px;'
{% else %}
    style = 'font-size: 30px;
		height:40px;
		margin-bottom:40px;'

{% endif %}
type = "submit" value = "Vote" />
</div>
</form>

{% endif %}

{% endblock %}


