
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="top-container">

<h1> New Population </h1>


<div class="home-main-container">

<div class="home-container" style="width:1000;">
	<img src="{% static 'conrad/how_to.png' %}" alt=Local Genetic Art Population" height="500" /></label>

	<div class = "home-p" style="max-width: 500px;">
	<h3><a href = "{% url 'conrad:userhome' %}">You've Just Created a New Population</a></h3>

	<p> A brand new population of 50 artists is being created.</p>
	<p> Each artist will have a genome, which they use to create an image. They've been generated totally at random - so some of the images they create might be gorgeous already through pure luck - but some of them might be horrible or just plain black!</p>
	<p> Your job is to rate the images  between 1 (bad) and 10 (good). Once you've finished the generation, the algorithm will create a brand new generation based on your choices</p>
	<p> When you're ready, click below to get started</p>

	<div class = "flex-container" style = "margin-top:30px;">
	<a class = "btn" style = "position:relative; left:30%; font-size:30px;" href = "{%url 'conrad:local' population %}" style = "font-size:30; color:#fff">Get Started</a>
	<div>
	</div>
</div>
</div>




{% endblock %}

