
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="top-container">

<h1> Learn </h1>

<p>If you're keen to understand more about what's happening under the hood while you're interacting with the populations, or want to do your own research, have a look at the resources below.</p>
</div>


<div class="home-main-container">
<h2><a href = "{% url 'conrad:sandbox' %}">Conrad Sandbox</a></h2><br/>

<div class="home-container">
	<img src="{% static 'conrad/sandbox.png' %}" alt=Local Genetic Art Population" height="300" width="300"/></label>
	

	<div class = "home-p">
	<h3><a href = "{% url 'conrad:sandbox' %}">Tinker with Genomes yourself</a></h3>

	<p> Interacting with the populations can make it seem as though the mechanism behind generating a form from a genome is a total mystery. This tool helps to both dismiss and reinforce that idea. Here you can manually enter genomes, and even create offspring. However, mapping genes to features is harder than it looks.</p>
	</div>
</div>
</div>


<div class="home-main-container">
<h2><a href = "{% url 'conrad:resources' %}">Resources</a></h2><br/>

<div class="home-container">
	<img src="{% static 'conrad/resources.png' %}" alt="Global Genetic Art Population" height="300" width="300"/></label>

	<div class = "home-p">
		<h3><a href = "{% url 'conrad:resources' %}">Learn more about Genetic Algorithms</a></h3>
		<p> 
		If you're interested in Genetic Algorithms you can find resources here to read on and develop your own GAs, or further our understanding of how they work, how they relate to natural selection, and how they can help up to generate answers to tough problems.</p>
	</div>
</div>
</div>


<div class="home-main-container">
<h2><a href = "{% url 'conrad:data' %}">Data</a></h2><br/>

<div class="home-container">
	<img src="{% static 'conrad/data.png' %}" alt="Global Genetic Art Population" height="300" width="300"/></label>

	<div class = "home-p">
		<h3><a href = "{% url 'conrad:data' %}">Carry out your own Research</a></h3>
		<p> 
		If you're a researcher or just like seeing the raw data, you can download the full population of agents, with all of their votes, genomes, and functions. If you unearth any interesting patterns, let us know.</p>
	</div>
</div>
</div>


{% endblock %}

