{% extends 'base.html' %}

{% block content %}

{% load static %}



<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
    text-align: center;
    background: #111;
}
h1 {
    font-size: 2em; 
    margin-bottom: .5rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3.0rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 

</style>

<link rel="stylesheet" type = "text/css" href = "{% static 'conrad/style.css' %}" />

<style>

/*mobile style!*/

.header-container {
	overflow-x: hidden;
}

#display {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 24px;
}

p {
	    font-size: 30px;
}

a.btn {
	margin-top: 25px;
}


.submit {
	margin: 10px;
    font-size: 50px;
    font-family: Consolas,"courier new";
    color: #fff;
    background: #008F11;
    padding: 2px;
    border-radius: 4px;
    border-color: fff;
    border-style: solid;
    border-width: 1px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
}

</style>

<h2> Local Genetic Art Population </h2>
<h3> User: {{ username }} &nbsp Population: {{ population }}  &nbsp Generation: {{ top_images.1.generation }} &nbsp Showing members: {{ top_images.0.member }} - {{ top_images.4.member }}</h3>


{% if request.session.guest %}
<p> You're playing as a guest. <a href = '/accounts/signup/'> Sign Up </a> or <a href = '/accounts/login/'> Login</a> to save your creations.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if top_images %}

<div class="form-container">
<form action = "{% url 'conrad:local' population %}" method = "post">
{% csrf_token %}
{% for artist in top_images %}
	<div id="display">
		<input type = "hidden" name = "artist[]" value = "{{ artist.id }}" />
		<img src="{{ artist.image.url }}" alt="Image 01" height="600" width="600"/></label><br/>
		<p>Artist: {{ artist }}</p>
		<fieldset class="rate">
		    <input type="radio" id="rating10{{ artist.id }}" name="score[{{forloop.counter}}]" value="10" />
		    <label for="rating10{{ artist.id }}" title="5 stars"></label>
		    <input type="radio" id="rating9{{ artist.id }}" name="score[{{forloop.counter}}]" value="9" />
		    <label class="half" for="rating9{{ artist.id }}" title="4 1/2 stars"></label>
		    <input type="radio" id="rating8{{ artist.id }}" name="score[{{forloop.counter}}]" value="8" />
		    <label for="rating8{{ artist.id }}" title="4 stars"></label>
		    <input type="radio" id="rating7{{ artist.id }}" name="score[{{forloop.counter}}]" value="7" />
		    <label class="half" for="rating7{{ artist.id }}" title="3 1/2 stars"></label>
		    <input type="radio" id="rating6{{ artist.id }}" name="score[{{forloop.counter}}]" value="6" />
		    <label for="rating6{{ artist.id }}" title="3 stars"></label>
		    <input type="radio" id="rating5{{ artist.id }}" name="score[{{forloop.counter}}]" value="5" />
		    <label class="half" for="rating5{{ artist.id }}" title="2 1/2 stars"></label>
		    <input type="radio" id="rating4{{ artist.id }}" name="score[{{forloop.counter}}]" value="4" />
		    <label for="rating4{{ artist.id }}" title="2 stars"></label>
		    <input type="radio" id="rating3{{ artist.id }}" name="score[{{forloop.counter}}]" value="3" />
		    <label class="half" for="rating3{{ artist.id }}" title="1 1/2 stars"></label>
		    <input type="radio" id="rating2{{ artist.id }}" name="score[{{forloop.counter}}]" value="2" />
		    <label for="rating2{{ artist.id }}" title="1 star"></label>
		    <input type="radio" id="rating1{{ artist.id }}" name="score[{{forloop.counter}}]" value="1" />
		    <label class="half" for="rating1{{ artist.id }}" title="1/2 star"></label>
		    <input type="radio" id="rating0{{ artist.id }}" name="score[{{forloop.counter}}]" value="0" />
		    <label for="rating0" title="No star"></label>
		</fieldset>
		<a class = "btn" href = '/conrad/inspect/{{ artist.id }}'>Inspect</a>
	</div>
{% endfor %}
<br/>
</div>
<div id="vote">
&nbsp;
<br/>
<input class = "submit" type = "submit" value = "Vote" />
</div>
</form>

{% endif %}



{% endblock %}

