
{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="top-container">

<h1> Resources </h1>

<p>
If you're interested in Genetic Algorithms and want to learn more, there are plenty of free courses to give you more depth. This is a very limited list, so please do <a href = "{% url 'conrad:contact' %}"> suggest more!</a></p>
</div>

<div style = "margin-top:40px; max-width:800px;">
<h3> <a href = "https://mitpress.mit.edu/books/introduction-genetic-algorithms">An Introduction to Genetic Algorithms</a></h3>
<h4> by Melanie Mitchell </h4>
<p>This 1996 book is still a superb introduction to GAs from a practical and theoretical point of view. It features thought exercises and programming exercises in every chapter, and introduces the basic concepts before moving on to some of the most pressing problems of the field (at the time and still to this day!)</p>
</div>

<div style = "margin-top:40px; max-width:800px;">
<h3> <a href = "https://mitpress.mit.edu/books/adaptation-natural-and-artificial-systems">Adaptation in Natural and Artificial Systems</a></h3>
<h4> by John H Holland</h4>
<p>Older and harder-going than Mitchell's introduction, this is a classic text on GA's that helped to shape how the field developed. Particular focus on the theoretical background to 'adaptation' more generally.</p>
</div>


<div style = "margin-top:40px; max-width:800px;">
<h3> <a href = "https://www.complexityexplorer.org/courses/">Complexity Explorer</a></h3>
<h4> Santa Fe Institute</h4>
<p>With a more general focus, these courses are great for anyone who is interested in the forces which underly natural and artificial evolution, and many other processes besides. The 'Introduction to Complexity' course (again by Melanie Mitchell) does a great job at introducing a thorny subject matter in a succint and engaging way. The section on GAs is particularly interesting (and inspired this website!)</p>
</div>


{% endblock %}

