
{% extends 'base.html' %}

{% block content %}
<h2> Conrad Sandbox </h2>

{% if error_message %}<p><strong style="color:red">{{ error_message }}</strong></p>{% endif %}


{% load static %}

<link rel="stylesheet" type = "text/css" href = "{% static 'conrad/style.css' %}" />


<form class = 'sandbox-form' action = "{% url 'conrad:sandbox' %}" method = "get">
	<div class = "flex-container">
		<div class = "left">
			<div>
				<h3> Custom Artist 1 </h3>
				<p>Enter a genome</p>
				<input type = "text" name = "image1" id = "image1" value = "{{ genome1 }}" pattern=".{0}|.{30,}"; size=42; required title="Minimum length: 30 chars)"/>
				<input class = "submit" type = "submit" value = "Generate" />
			</div>
	
			{% if image1 %}
			<br/>
			<div>
				<img src="{{ image1 }}" alt="Image 01" height="200" width="200"/></label><br/>
				<p style="font-size:15px;"> Function: {{ function1 }}</p>
			</div>
		{% endif %}
		</div>


	<div class = "right">
			<div>
				<h3>Custom Artist 2</h3>
				<p>Enter another genome</p>
				<input type = "text" name = "image2" id = "image2" value = "{{ genome2 }}" pattern=".{0}|.{30,}"; size=42; >
				<input class = "submit" type = "submit" value = "Generate" />
			</div>
		<br/>
		<div>
			{% if image2 %}
				<img src="{{ image2 }}" alt="Image 01" height="200" width="200"/></label><br/>
				<p style="font-size:15px;"> Function: {{ function2 }}</p>
			{% endif %}
		</div>
	</div>
	<br>
	</div>
	<div>
		{% if image1 and image2 %}
		<h3> Create Offspring </h3>
		<input type="radio" id="offspring"
     name="offspring" value="True">
    <label for="contactChoice1">True</label>

    <input type="radio" id="offspring"
     name="offspring" value="False">
    <label for="contactChoice1">False</label>
		<input class = "submit" type = "submit" value = "Generate" />
		{% endif %}
		{% if image3 %}
				<img src="{{ image3 }}" alt="Image 01" height="200" width="200"/></label><br/>
				<p> Genome: {{ genome3 }}</p>
				<p style="font-size:15px;"> Function: {{ function3 }}</p>
		{% endif %}
	</div>
</form>






{% endblock %}


