/*Rating Star CSS*/

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
    text-align: center;
    background: #111;
}
h1 {
    font-size: 2em; 
    margin-bottom: .5rem;
}

a {
	text-decoration: none;
    font-weight: bold;
}

html {
	overflow-x: hidden;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
    content: "\f006 ";  empty star outline 
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

.no-star {
	opacity: 0
}
/* Click + hover color */
.rate input:checked ~ label, /* color current and previous stars on checked */
.rate label:hover, .rate label:hover ~ label { color: #73B100;} /* color previous stars on hover */

.no-star:checked ~ label {opacity: 1;}

/* Hover highlights */
.rate input:checked + .rate label:hover, .rate input:checked ~ label:hover, /* highlight current and previous stars */
.rate input:checked ~  label:hover ~ label, /* highlight previous selected stars for new rating */
.rate label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;} 

/*Rating Star CSS*/

div {
	float: top;

}

a {
	color: #008F11;
	font-family: "Tahoma";
}

p {
	font-family: "Tahoma";
	color: #ffffff;
}

li {
	color: #fff;
	font-family: "Tahoma";
}
	

a h2 {
	color: #00b500;
}


form {
	color: #fff;
}

.privacy ol {
  counter-reset: item;
  padding-top: 10px;
  padding-bottom: 10px;
}
.privacy li {
  display: block;
  padding-top: 5px;
}
.privacy li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

a.btn {
	font-family: Consolas,"courier new";
    float: right;
    color: #fff;
    background: #008F11;
    padding: 2px;
    border-radius: 4px;
    border-color: fff;
    font-size: 14;
    border-style: solid;
    border-width: 1px;
    margin-top: -5px;
}

h1 {
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

h2 {
	color: #ffffff;
	font-family: "Tahoma", sans-serif;
}

h3 {
	color: #ffffff;
	font-family: "Helvetica", sans-serif;
}

h4 {
	color: #ffffff;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}


img {
   padding:4px;
   border:1px solid #3d3c3c;
   background-color:#d1cfcf;
}

body {
    background-color: #3d3c3c;
}


.flex-container {
	display:flex;
	max-width: 1000px;
}

.flex-container form {
	display: flex;
	width:100%;

}

.flex-wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-container {
    position: relative;
    text-align: center;
    color: white;
}

.header-text {
    position: absolute;
    top: 35px;
    left: 16px;
    max-height: 140px;
    white-space: nowrap;
    overflow: hidden;
}

.header-text h1 {
	font-family: Consolas,"courier new";
    font-size: 70px;
    margin: 1px;
    padding: 1px;
    font-weight: normal;
}

	
.main-menu a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

.main-menu {
	display: block;
	background-color: #282828;
	width: 100%;
	height: 50px;
	padding: 5px;
	min-width: 800px;

}


.dropdown {
	position:relative;
	display: inline-block;
	padding: none;
	margin: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #3d3c3c;
	z-index: 1;
	padding: 2px;
	margin-top: 15px;
	margin-left: -18px;
}

.nav-element:hover .dropdown-content {
	display: inline;
}

.dropdown-element {
	background-color: #282828;
	padding: 15px;
	margin: none;
	border: 1px solid #3d3c3c;
}
	
.dropdown-element a {
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

nav a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}


.dropdown-element:hover {
	background-color: #45a83c;
}


/* tables */

tr {
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #808080;
}

tr:nth-child(odd) {
    background-color: #303030;
}

th {
	padding: 10px;
	font-size: 18px;
}



div#display {
    float:left;
    margin:10px auto;

}

div#index {
	float:left;
}

.form-container {
	display: flex;
	justify-content: space-evenly;
}

.submit {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
}

/* conrad home */

.top-container {
	max-width: 600px
}

h2 a {
	color:#fff;
}

h3 a {
	color:#fff;
	text-decoration: underline;
}

.home-main-container {
	margin: auto;
    width: 600px;
}

.home-container {
	display:flex;
	width: 600px
}

.home-p {
	padding: 10px;
	max-width: 250px;
}

	
.nav-element {
	display: block;
	float: left;
	background-color: #282828;
	padding: 15px;
}

.nav-element:hover {
	background-color: #45a83c;
}

.nav-element-login{
	display: block;
	float: right;
	background-color: #282828;
	padding: 2px;
	font-size: 5px;
}

.nav-element-login a{
	font-size: 15px;
}

.nav-login-container {
	display:flex;
}

.login-table tr {
    background-color: #303030;
    text-align: right
}



/* index */

.wrap {
  display: flex;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  min-width: 680px;
  margin:auto;
  padding-top:20px;
  justify-content: space-between;
}

.left {
  text-align: left;
  float:left;
  width: 45%;
  margin-right:5%;
  word-break: break-all;
}

.right {
  text-align: right;
  float:right;
  width: 45%;
  margin-left:5%;
  word-break: break-all;
}

.centre {
  text-align: center;
  width: 45%;
  margin-left:25%;
  margin-right:25%;
}

.indexbtn {
	background-color:#282828;
	font-size:20px;
	color: #fff;
	margin-bottom: 20px;
}

.indexbtn a{
	color: #fff;
}

/* gallery filters & sort */


.gallery-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.gallery-element {
	display: block;
	float: left;
	background-color: #45a83c;
	padding: 5px;
	min-width: 175px;
}

.gallery-element:hover {
	background-color: #282828;
}

.gallery-element:hover .gallery-dropdown-content {
	display: block;
}

.gallery-element p {
	margin: 3px;
}

.gallery-dropdown {
	position:relative;
	display: inline-block;
	padding: none;
	min-width: 180px;
}

.gallery-dropdown-content {
	display: none;
	position: absolute;
	background-color: #45a83c;
	z-index: 1;
	padding: 2px;
	margin-top: 4px;
	margin-left:-4px;
	min-width: 180px;
}



.gallery-dropdown-element {
	background-color: #282828;
	margin: none;
	border: 1px solid #3d3c3c;
	padding: 2px;
}

.gallery-element a {
	font-size: 18px;
	font-family: "Helvetica", sans-serif;
	text-decoration: none
}
	
.gallery-dropdown-element a {
	font-size: 15px;
	font-family: "Helvetica", sans-serif;
}


.gallery-dropdown-element:hover {
	background-color:  #45a83c;
}

/* Inspect */

.detail-list li {
	padding-top: 5px;
	font-size: 20px;
}

.child-flex-container {
	justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin-right: -.25em;
    top: 1.25em;
    max-width: 100%;
    width:100%;
    word-wrap: break-word;
    justify-content: space-between;
}

.child-container {
	display:block;
	
}


.top-container {
    width: 50%;
	margin: auto;
}

.content-container {
    margin-top:40px;
    max-width:80%;
    width:80%;
    margin-right: 10%;
    margin-left:10%;
}

.submit {
    /* margin: 10px; */
    /* font-size: 50px; */
    font-family: Consolas,"courier new";
    color: #fff;
    background: #008F11;
    /* padding: 2px; */
    border-radius: 4px;
    border-color: fff;
    border-style: solid;
    border-width: 1px;
    /* margin-top: -5px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

.centred {
	margin:auto;
}