div {
	float: top;

}

	
.main-menu a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

.main-menu {
	display: block;
	background-color: #282828;
	width: 100%;
	height: 50px;
	padding: 5px;

}


.dropdown {
	position:relative;
	display: inline-block;
	padding: none;
	margin: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #3d3c3c;
	z-index: 1;
	padding: 2px;
	margin: 15px;
}

.nav-element:hover .dropdown-content {
	display: block;
}

.dropdown-element {
	background-color: #282828;
	padding: 15px;
	margin: none;
	border: 1px solid #3d3c3c;
}
	
.dropdown-element a {
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

nav a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}


.dropdown-element:hover {
	background-color: #45a83c;
}

p {
	color: #ffffff;
}

h1 {
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

h2 {
	color: #ffffff;
	font-family: "Tahoma", sans-serif;
}

h3 {
	color: #ffffff;
	font-family: "Helvetica", sans-serif;
}


img {
   padding:4px;
   border:1px solid #3d3c3c;
   background-color:#d1cfcf;
}

body {
    background-color: #3d3c3c;
}


div#display {
    float:left;
    margin:10px;
}

div#index {
	float:left;
}

.form-container {
	display: flex;
}

.submit {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}




	
.nav-element {
	display: block;
	float: left;
	background-color: #282828;
	padding: 15px;
}

.nav-element:hover {
	background-color: #45a83c;
}

nav a:hover {
	background-color: #45a83c;
}


a {
	color: #008F11;
	font-family: "Tahoma";
}

p {
	font-family: "Tahoma";
}
	

a h2 {
	color: #00b500;
}


form {
	color: #fff;
}

/* tables */

tr {
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #808080;
}

tr:nth-child(odd) {
    background-color: #303030;
}

th {
	padding: 10px;
	font-size: 18px;
}

/* index */

.wrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-top:20px;
}

.left {
  text-align: left;
  flex-basis: 80%;
}

.right {
  text-align: right;
   flex-basis: 80%;
}

.indexbtn {
	background-color:#282828;
	font-size:20px;
	color: #fff;
	margin-bottom: 20px;
}

.indexbtn a{
	color: #fff;
}

/* gallery filters & sort */


.gallery-nav {
	display: flex;
	width: 100%;
}

.gallery-element {
	display: block;
	float: left;
	background-color: #45a83c;
	margin-right:20px;
	padding: 5px;
}

.gallery-element:hover {
	background-color: #282828;
}

.gallery-element:hover .gallery-dropdown-content {
	display: block;
}

.gallery-dropdown {
	position:relative;
	display: inline-block;
	padding: none;
	margin: none;
}

.gallery-dropdown-content {
	display: none;
	position: absolute;
	background-color: #45a83c;
	z-index: 1;
	padding: 2px;
}



.gallery-dropdown-element {
	background-color: #282828;
	margin: none;
	border: 1px solid #3d3c3c;
	padding: 2px;
}
	
.gallery-dropdown-element a {
	font-size: 15px;
	font-family: "Helvetica", sans-serif;
}


.gallery-dropdown-element:hover {
	background-color:  #45a83c;
