div {
	float: top;

}

a {
	color: #008F11;
	font-family: "Tahoma";
}

p {
	font-family: "Tahoma";
	color: #ffffff;
}

li {
	color: #fff;
	font-family: "Tahoma";
}
	

a h2 {
	color: #00b500;
}


form {
	color: #fff;
}

.privacy ol {
  counter-reset: item;
  padding-top: 10px;
  padding-bottom: 10px;
}
.privacy li {
  display: block;
  padding-top: 5px;
}
.privacy li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

a.btn {
	font-family: Consolas,"courier new";
    float: right;
    color: #fff;
    background: #008F11;
    padding: 2px;
    border-radius: 4px;
    border-color: fff;
    font-size: 14;
    border-style: solid;
    border-width: 1px;
    margin-top: -5px;
}



h1 {
	color: #fff;
	font-family: "Helvetica", sans-serif;
}

h2 {
	color: #ffffff;
	font-family: "Tahoma", sans-serif;
}

h3 {
	color: #ffffff;
	font-family: "Helvetica", sans-serif;
}

h4 {
	color: #ffffff;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
}


img {
   padding:4px;
   border:1px solid #3d3c3c;
   background-color:#d1cfcf;
}

body {
    background-color: #3d3c3c;
}


.flex-container {
	display:flex;
	max-width: 1000px;
}

.flex-container form {
	display: flex;
	width:100%;

}

.header-container {
    position: relative;
    text-align: center;
    color: white;
}

.header-text {
    position: absolute;
    top: 35px;
    left: 16px;
    max-height: 140px;
    white-space: nowrap;
    overflow: hidden;
}

.header-text h1 {
	font-family: Consolas,"courier new";
    font-size: 70px;
    margin: 1px;
    padding: 1px;
    font-weight: normal;
}

	
.main-menu a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

.main-menu {
	display: block;
	background-color: #282828;
	width: 100%;
	height: 50px;
	padding: 5px;
	min-width: 800px;

}


.dropdown {
	position:relative;
	display: inline-block;
	padding: none;
	margin: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #3d3c3c;
	z-index: 1;
	padding: 2px;
	margin-top: 15px;
	margin-left: -18px;
}

.nav-element:hover .dropdown-content {
	display: inline;
}

.dropdown-element {
	background-color: #282828;
	padding: 15px;
	margin: none;
	border: 1px solid #3d3c3c;
}
	
.dropdown-element a {
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

nav a {
	color: white;
	margin: 16px;
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}


.dropdown-element:hover {
	background-color: #45a83c;
}


/* tables */

tr {
	color: #fff;
	font-size: 16px;
	font-family: "Helvetica", sans-serif;
	padding: 5px;
}

tr:nth-child(even) {
    background-color: #808080;
}

tr:nth-child(odd) {
    background-color: #303030;
}

th {
	padding: 10px;
	font-size: 18px;
}



div#display {
    float:left;
    margin:10px;
}

div#index {
	float:left;
}

.form-container {
	display: flex;
}



.submit {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

/* conrad home */

.top-container {
	max-width: 600px
}

h2 a {
	color:#fff;
}

h3 a {
	color:#fff;
}

.home-main-container {
	float:left;
}

.home-container {
	float:left;
	display:flex;
	width: 600px
}

.home-p {
	padding: 10px;
	max-width: 250px;
}

	
.nav-element {
	display: block;
	float: left;
	background-color: #282828;
	padding: 15px;
}

.nav-element:hover {
	background-color: #45a83c;
}

nav a:hover {
	background-color: #45a83c;
}

.nav-element-login{
	display: block;
	float: right;
	background-color: #282828;
	padding: 2px;
	font-size: 5px;
}

.nav-element-login a{
	font-size: 15px;
}

.nav-login-container {
	display:flex;
}

.login-table tr {
    background-color: #303030;
    text-align: right
}



/* index */

.wrap {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-top:20px;
}

.left {
  text-align: left;
  flex-basis: 80%;
}

.right {
  text-align: right;
   flex-basis: 80%;
}

.indexbtn {
	background-color:#282828;
	font-size:20px;
	color: #fff;
	margin-bottom: 20px;
}

.indexbtn a{
	color: #fff;
}

/* gallery filters & sort */


.gallery-nav {
	display: flex;
	width: 100%;
}

.gallery-element {
	display: block;
	float: left;
	background-color: #45a83c;
	margin-right:20px;
	padding: 5px;
}

.gallery-element:hover {
	background-color: #282828;
}

.gallery-element:hover .gallery-dropdown-content {
	display: block;
}

.gallery-element p {
	margin: 3px;
}

.gallery-dropdown {
	position:relative;
	display: inline-block;
	padding: none;
}

.gallery-dropdown-content {
	display: none;
	position: absolute;
	background-color: #45a83c;
	z-index: 1;
	padding: 2px;
	margin-top: 4px;
	margin-left:-4px;
}



.gallery-dropdown-element {
	background-color: #282828;
	margin: none;
	border: 1px solid #3d3c3c;
	padding: 2px;
}
	
.gallery-dropdown-element a {
	font-size: 15px;
	font-family: "Helvetica", sans-serif;
}


.gallery-dropdown-element:hover {
	background-color:  #45a83c;
}

/* Inspect */

.detail-list li {
	padding-top: 5px;
	font-size: 20px;
}

.child-flex-container {
    display: block;
    float:left;
    margin-right: -.25em;
    top: 1.25em;
    max-width: 100%;
    word-wrap: break-word;
}

.child-container {
	display:block;
	float:left;
}
