{% load staticfiles %}
{% load i18n lazysignup_tags %}

<html>
	<head>
		<title>Genetic Algorithms</title>
		<link rel="icon" href="{% static 'conrad/icon.ico' %}">
		
		<meta property="og:title" content="Genetic Algorithms" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="{% static 'conrad/home1.png' %}" />
		<meta property="og:description" 
  		content="genetic-algorithms.com is a free and open-source web tool for creating and learning about Genetic Algorithms." />
  		<meta property="og:determiner" content="" />
  		<meta property="og:site_name" content="Genetic Algorithms" />

				<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-55825994-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-55825994-3');
		</script>

		<div class = "header-container">
			<img src = "{% static 'conrad/header.png' %}" alt = 'header' style="min-width:1000px; height:140px;">
			<div class = "header-text"><h1>genetic-algorithms.com</h1></div>
		</div>
		<nav class ="main-menu">
			<ul style = 'margin:0; text-align:left; {% if is_mobile %} display:flex; {% endif %}'>
				<li class="nav-element">
					<a href = '/'>Home</a>
				</li>
				<li class="nav-element">
					<a href = '/about'>About</a>
				</li>
				<li class="nav-element">
					<a href = '/conrad/'>Conrad</a>
					<ul class="dropdown-content" >
						<li class="dropdown-element">
							<a href = '/conrad/about'>About Conrad</a>
						</li>
						<li class="dropdown-element">
							<a href = '/conrad/local/'>Local Population</a>
						</li>
						<li class="dropdown-element">
							<a href = '/conrad/global/'>Global Population</a>
						</li>
						<li class="dropdown-element">
							<a href = '/conrad/gallery/best/alltime/all/0/'>Gallery</a>
						</li>
					</ul>
				</li>

				<li class="nav-element">
					<a href = '/conrad/learn/'>Learn</a>
					<ul class="dropdown-content" div class="dropdown-content">
						<li class="dropdown-element">
							<a href = '/conrad/sandbox'>Conrad Sandbox</a>
						</li>
						<li class="dropdown-element">
							<a href = '/conrad/resources/'>Resources</a>
						</li>
						<li class="dropdown-element">
							<a href = '/conrad/data/'>Data</a>
						</li>
					</ul>
				</li>
				<li class="nav-element">
					<a href = '/conrad/contact/'>Contact</a>
				</li>
				<li class="nav-element-login">{% if request.user.is_authenticated %}
					<div class = "nav-login-container">
					<table class = "login-table">
						<tr><td><a href = '/accounts/profile'>{{request.user}}</a></td></tr>
						{% if request.session.guest %}
						<tr><td><a href = '/accounts/login'>Login</a></td></tr>
						{% else %}
						<tr><td><a href = '/accounts/logout'>logout</a></td></tr>
						{% endif %}
					</table>
					</div>
				{% else %}
					<a href = '/accounts/login'>login</a>
				{% endif %}
				</li>
			</ul>
		</nav>
		<link rel="stylesheet" type = "text/css" href = "{% static 'conrad/style.css' %}" />
		{% if is_mobile %}
		<link rel="stylesheet" type = "text/css" href = "{% static 'conrad/mobile-style.css' %}" />
		{% endif %}
	</head>
	<div class=endhead>
		&nbsp
	</div>
	<body>
		
			{% block content %}
			{% endblock %}
	</body>
</html>
	
	
